.service-registration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stl-ul {
    list-style: none;
    padding: 0;

}
.stl-li {
    color: whitesmoke;
    text-align: center;
    background-color: rgb(35,35,35);
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
}