.venue-services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.venue-service-label {
    color: whitesmoke;
    margin: 30px;
    font-size: 64px;
    font-family: Be Vietnam Pro;
}